@charset "UTF-8";

.friend-no-button, .friend-ok-button {
 	
    font-size: 1em;
    
}


.friend-no-button{
	margin-right: 20px;
	margin-left: 20px;
}
.friend-list-li h3 {
    color: black;
    margin-right: auto; /* 제목과 버튼 사이의 간격 조정 */
    margin-left: 40px; 
    display: inline-block;
   	margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}
.friend-list-li{
	
	background-color: #ECDBBA;
    border-radius: 20px;
    padding: 10px;
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
}

.friend-list-ul{
	padding: 0;
	
}

.friend-list-container {
    background-color: #313131;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    
}

.friend-list {
    flex: 1; /* 두 리스트가 공간을 균등하게 차지하도록 함 */
    background-color: #313131; /* 배경색 설정 */
    color: white; /* 텍스트 색상 변경 */
    padding: 20px 20px 5px 20px; /* 안쪽 여백 추가 */
    border-radius: 10px; /* 모서리 둥글게 처리 */
    margin:0 20px ;
}
